{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ skishop.name }}
			
			</h1>
		<a href="{{url_for('newItem', skishop_id=skishop.id)}}">
				<button class="btn btn-default" id="new-restaurant">
					<span aria-hidden="true"></span>Add item
				</button>
			</a>	

		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	
    {% if items !=[] %}	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
					{% for i in items %}
						
							<div class="menu-item">
								<a href="{{url_for('editItem', skishop_id=skishop.id, item_id=i.id)}}">
								<h3>{{i.name}}</h3>
								</a>
								<p>{{i.description}}</p>
								<p class="menu-price">{{i.price}}</p>
								<p>{{i.attribute}}</p><br>
							</div>
						
					{% endfor %}
			</div>
			</div>
	{% endif %}
{% endblock %}